In [287]:
#import 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
#change data type
data_types = {'occupation'         :str,
              'employment'         :str,
              'education'          :str,
              'relationship status':str,
              'if married'         :str,
              'race'               :str, 
              'gender'             :str,
              'country of birth'   :str,
              'income'             :str}
#label the columns
og_data = pd.read_csv("Team 8.csv",
                           header = 0,
                           names = ['age at census',
                                    'occupation',
                                    'employment',
                                    'hours worked/week',
                                    'capital',
                                    'education',
                                    'completed years',
                                    'relationship status',
                                    'if married',
                                    'race',
                                    'gender',
                                    'country of birth',
                                    'income'],
                           na_values=' ?', #to replace ? to NaN
                           dtype = data_types)

og_data.head(n=50)

    age at census          occupation         employment  hours worked/week  capital      education  completed years     relationship status       if married                 race   gender country of birth  income
0              30               Sales            Private                 30     1151        HS-grad                9                Divorced        Unmarried                White     Male    United-States   <=50K
1              48       Other-service            Private                 20        0      Bachelors               13                 Widowed        Unmarried                White   Female    United-States   <=50K
2              34        Craft-repair       Self-emp-inc                 50        0        HS-grad                9      Married-civ-spouse          Husband                White     Male    United-States   <=50K
3              29        Craft-repair            Private                 32     7298      Assoc-voc               11      Married-civ-spouse          Husband   Asian-Pac-Islander     Male    United-States    >50K
4              54        Craft-repair            Private                 40        0        HS-grad                9      Married-civ-spouse          Husband                White     Male    United-States   <=50K
5              62        Tech-support            Private                 38        0      Bachelors               13      Married-civ-spouse          Husband                White     Male    United-States   <=50K
6              28       Other-service            Private                 40        0        HS-grad                9           Never-married    Not-in-family                White     Male    United-States   <=50K
7              56        Craft-repair            Private                 40        0        HS-grad                9                Divorced   Other-relative                White     Male    United-States   <=50K
8              48       Other-service            Private                 35        0           11th                7               Separated    Not-in-family                Black   Female    United-States   <=50K
9              23        Craft-repair            Private                 15        0   Some-college               10           Never-married        Own-child                White     Male    United-States   <=50K
10             35      Prof-specialty            Private                 40        0      Bachelors               13   Married-spouse-absent    Not-in-family   Asian-Pac-Islander   Female      Philippines   <=50K
11             60    Transport-moving            Private                 40        0        HS-grad                9      Married-civ-spouse          Husband                White     Male    United-States   <=50K
12             40        Adm-clerical            Private                 40     7298   Some-college               10      Married-civ-spouse             Wife                White   Female    United-States    >50K
13             71               Sales   Self-emp-not-inc                  2    -1816   Some-college               10               Separated        Unmarried                Black     Male    United-States   <=50K
14             60        Adm-clerical        Federal-gov                 40        0      Bachelors               13      Married-civ-spouse          Husband                Black     Male    United-States    >50K
15             63     Exec-managerial          Local-gov                 32        0        HS-grad                9      Married-civ-spouse             Wife                White   Female    United-States   <=50K
16             22      Prof-specialty            Private                 20        0   Some-college               10           Never-married    Not-in-family                Black     Male    United-States   <=50K
17             34      Prof-specialty            Private                 40        0      Bachelors               13      Married-civ-spouse          Husband                White     Male    United-States    >50K
18             41      Prof-specialty            Private                 70        0      Bachelors               13      Married-civ-spouse          Husband                White     Male    United-States   <=50K
19             31     Farming-fishing            Private                 45     3137        HS-grad                9      Married-civ-spouse          Husband                White     Male    United-States   <=50K
20             47      Prof-specialty   Self-emp-not-inc                 50        0        Masters               14           Never-married    Not-in-family                White   Female    United-States   <=50K
21             43     Exec-managerial            Private                 40        0      Bachelors               13      Married-civ-spouse          Husband                White     Male    United-States   <=50K
22             21       Other-service            Private                 35        0        HS-grad                9           Never-married        Own-child                White     Male    United-States   <=50K
23             29        Adm-clerical            Private                 40        0   Some-college               10           Never-married    Not-in-family                White   Female    United-States   <=50K
24             39      Prof-specialty            Private                 45     7688        Masters               14      Married-civ-spouse          Husband                White     Male    United-States    >50K
25             57        Craft-repair          Local-gov                 40    99999        HS-grad                9      Married-civ-spouse          Husband                White     Male    United-States    >50K
26             21        Adm-clerical   Self-emp-not-inc                 30        0   Some-college               10           Never-married        Own-child                White     Male    United-States   <=50K
27             47        Craft-repair   Self-emp-not-inc                 40        0   Some-college               10                Divorced    Not-in-family                White     Male    United-States   <=50K
28             30   Machine-op-inspct            Private                 40        0     Assoc-acdm               12           Never-married        Unmarried                Black   Female    United-States   <=50K
29             42        Craft-repair            Private                 45     7298   Some-college               10      Married-civ-spouse          Husband                White     Male    United-States    >50K
30             43    Transport-moving            Private                 42        0           11th                7           Never-married    Not-in-family                White     Male    United-States   <=50K
31             32      Prof-specialty            Private                 40        0      Bachelors               13           Never-married    Not-in-family                White     Male    United-States   <=50K
32             30    Transport-moving            Private                 40        0        HS-grad                9      Married-civ-spouse          Husband                White     Male    United-States   <=50K
33             41               Sales            Private                 40     3942   Some-college               10      Married-civ-spouse          Husband                White     Male    United-States   <=50K
34             31      Prof-specialty       Self-emp-inc                 45        0      Bachelors               13           Never-married    Not-in-family                White     Male    United-States    >50K
35             18       Other-service            Private                 23    -1602           11th                7           Never-married        Own-child                Black     Male    United-States   <=50K
36             69     Exec-managerial          Local-gov                 20        0           10th                6      Married-civ-spouse          Husband                White     Male    United-States   <=50K
37             32               Sales            Private                 45    -1669        HS-grad                9           Never-married        Own-child                Black   Female    United-States   <=50K
38             50   Machine-op-inspct            Private                 50        0        HS-grad                9      Married-civ-spouse          Husband                White     Male    United-States   <=50K
39             42      Prof-specialty            Private                 40        0      Assoc-voc               11      Married-civ-spouse          Husband                White     Male    United-States    >50K
40             29        Adm-clerical          State-gov                 40        0      Assoc-voc               11                Divorced        Own-child                White     Male    United-States   <=50K
41             19               Sales            Private                 20        0        HS-grad                9           Never-married        Unmarried                Black   Female    United-States   <=50K
42             49        Craft-repair            Private                 40        0        HS-grad                9      Married-civ-spouse          Husband                White     Male    United-States   <=50K
43             52       Other-service            Private                 32        0      Assoc-voc               11                Divorced    Not-in-family                White     Male    United-States   <=50K
44             58        Adm-clerical          State-gov                 16        0        HS-grad                9           Never-married    Not-in-family                White   Female    United-States   <=50K
45             17       Other-service            Private                 10        0           10th                6           Never-married        Own-child                White   Female    United-States   <=50K
46             23       Other-service            Private                 20        0   Some-college               10           Never-married        Own-child                White   Female    United-States   <=50K
47             29   Handlers-cleaners          Local-gov                 45    -1590        HS-grad                9           Never-married        Unmarried   Asian-Pac-Islander     Male    United-States   <=50K
48             21                 NaN                NaN                 30        0   Some-college               10           Never-married        Own-child                White     Male    United-States   <=50K
49             36        Craft-repair            Private                 40        0        HS-grad                9      Married-civ-spouse          Husband                White     Male    United-States    >50K

In [288]:
og_data.info()
#to see if there were missing values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26170 entries, 0 to 26169
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   age at census        26170 non-null  int64
 1   occupation           24728 non-null  object
 2   employment           24734 non-null  object
 3   hours worked/week    26170 non-null  int64
 4   capital              26170 non-null  int64
 5   education            26170 non-null  object
 6   completed years      26170 non-null  int64
 7   relationship status  26170 non-null  object
 8   if married           26170 non-null  object
 9   race                 26170 non-null  object
 10  gender               26170 non-null  object
 11  country of birth     25739 non-null  object
 12  income               26170 non-null  object
dtypes: int64(4), object(9)
memory usage: 2.6+ MB

In [289]:
#creating a copy of the original data to work on it
og_test=pd.DataFrame.copy(og_data)
og_test.head(n=50)

    age at census          occupation         employment  hours worked/week  capital      education  completed years     relationship status       if married                 race   gender country of birth  income
0              30               Sales            Private                 30     1151        HS-grad                9                Divorced        Unmarried                White     Male    United-States   <=50K
1              48       Other-service            Private                 20        0      Bachelors               13                 Widowed        Unmarried                White   Female    United-States   <=50K
2              34        Craft-repair       Self-emp-inc                 50        0        HS-grad                9      Married-civ-spouse          Husband                White     Male    United-States   <=50K
3              29        Craft-repair            Private                 32     7298      Assoc-voc               11      Married-civ-spouse          Husband   Asian-Pac-Islander     Male    United-States    >50K
4              54        Craft-repair            Private                 40        0        HS-grad                9      Married-civ-spouse          Husband                White     Male    United-States   <=50K
5              62        Tech-support            Private                 38        0      Bachelors               13      Married-civ-spouse          Husband                White     Male    United-States   <=50K
6              28       Other-service            Private                 40        0        HS-grad                9           Never-married    Not-in-family                White     Male    United-States   <=50K
7              56        Craft-repair            Private                 40        0        HS-grad                9                Divorced   Other-relative                White     Male    United-States   <=50K
8              48       Other-service            Private                 35        0           11th                7               Separated    Not-in-family                Black   Female    United-States   <=50K
9              23        Craft-repair            Private                 15        0   Some-college               10           Never-married        Own-child                White     Male    United-States   <=50K
10             35      Prof-specialty            Private                 40        0      Bachelors               13   Married-spouse-absent    Not-in-family   Asian-Pac-Islander   Female      Philippines   <=50K
11             60    Transport-moving            Private                 40        0        HS-grad                9      Married-civ-spouse          Husband                White     Male    United-States   <=50K
12             40        Adm-clerical            Private                 40     7298   Some-college               10      Married-civ-spouse             Wife                White   Female    United-States    >50K
13             71               Sales   Self-emp-not-inc                  2    -1816   Some-college               10               Separated        Unmarried                Black     Male    United-States   <=50K
14             60        Adm-clerical        Federal-gov                 40        0      Bachelors               13      Married-civ-spouse          Husband                Black     Male    United-States    >50K
15             63     Exec-managerial          Local-gov                 32        0        HS-grad                9      Married-civ-spouse             Wife                White   Female    United-States   <=50K
16             22      Prof-specialty            Private                 20        0   Some-college               10           Never-married    Not-in-family                Black     Male    United-States   <=50K
17             34      Prof-specialty            Private                 40        0      Bachelors               13      Married-civ-spouse          Husband                White     Male    United-States    >50K
18             41      Prof-specialty            Private                 70        0      Bachelors               13      Married-civ-spouse          Husband                White     Male    United-States   <=50K
19             31     Farming-fishing            Private                 45     3137        HS-grad                9      Married-civ-spouse          Husband                White     Male    United-States   <=50K
20             47      Prof-specialty   Self-emp-not-inc                 50        0        Masters               14           Never-married    Not-in-family                White   Female    United-States   <=50K
21             43     Exec-managerial            Private                 40        0      Bachelors               13      Married-civ-spouse          Husband                White     Male    United-States   <=50K
22             21       Other-service            Private                 35        0        HS-grad                9           Never-married        Own-child                White     Male    United-States   <=50K
23             29        Adm-clerical            Private                 40        0   Some-college               10           Never-married    Not-in-family                White   Female    United-States   <=50K
24             39      Prof-specialty            Private                 45     7688        Masters               14      Married-civ-spouse          Husband                White     Male    United-States    >50K
25             57        Craft-repair          Local-gov                 40    99999        HS-grad                9      Married-civ-spouse          Husband                White     Male    United-States    >50K
26             21        Adm-clerical   Self-emp-not-inc                 30        0   Some-college               10           Never-married        Own-child                White     Male    United-States   <=50K
27             47        Craft-repair   Self-emp-not-inc                 40        0   Some-college               10                Divorced    Not-in-family                White     Male    United-States   <=50K
28             30   Machine-op-inspct            Private                 40        0     Assoc-acdm               12           Never-married        Unmarried                Black   Female    United-States   <=50K
29             42        Craft-repair            Private                 45     7298   Some-college               10      Married-civ-spouse          Husband                White     Male    United-States    >50K
30             43    Transport-moving            Private                 42        0           11th                7           Never-married    Not-in-family                White     Male    United-States   <=50K
31             32      Prof-specialty            Private                 40        0      Bachelors               13           Never-married    Not-in-family                White     Male    United-States   <=50K
32             30    Transport-moving            Private                 40        0        HS-grad                9      Married-civ-spouse          Husband                White     Male    United-States   <=50K
33             41               Sales            Private                 40     3942   Some-college               10      Married-civ-spouse          Husband                White     Male    United-States   <=50K
34             31      Prof-specialty       Self-emp-inc                 45        0      Bachelors               13           Never-married    Not-in-family                White     Male    United-States    >50K
35             18       Other-service            Private                 23    -1602           11th                7           Never-married        Own-child                Black     Male    United-States   <=50K
36             69     Exec-managerial          Local-gov                 20        0           10th                6      Married-civ-spouse          Husband                White     Male    United-States   <=50K
37             32               Sales            Private                 45    -1669        HS-grad                9           Never-married        Own-child                Black   Female    United-States   <=50K
38             50   Machine-op-inspct            Private                 50        0        HS-grad                9      Married-civ-spouse          Husband                White     Male    United-States   <=50K
39             42      Prof-specialty            Private                 40        0      Assoc-voc               11      Married-civ-spouse          Husband                White     Male    United-States    >50K
40             29        Adm-clerical          State-gov                 40        0      Assoc-voc               11                Divorced        Own-child                White     Male    United-States   <=50K
41             19               Sales            Private                 20        0        HS-grad                9           Never-married        Unmarried                Black   Female    United-States   <=50K
42             49        Craft-repair            Private                 40        0        HS-grad                9      Married-civ-spouse          Husband                White     Male    United-States   <=50K
43             52       Other-service            Private                 32        0      Assoc-voc               11                Divorced    Not-in-family                White     Male    United-States   <=50K
44             58        Adm-clerical          State-gov                 16        0        HS-grad                9           Never-married    Not-in-family                White   Female    United-States   <=50K
45             17       Other-service            Private                 10        0           10th                6           Never-married        Own-child                White   Female    United-States   <=50K
46             23       Other-service            Private                 20        0   Some-college               10           Never-married        Own-child                White   Female    United-States   <=50K
47             29   Handlers-cleaners          Local-gov                 45    -1590        HS-grad                9           Never-married        Unmarried   Asian-Pac-Islander     Male    United-States   <=50K
48             21                 NaN                NaN                 30        0   Some-college               10           Never-married        Own-child                White     Male    United-States   <=50K
49             36        Craft-repair            Private                 40        0        HS-grad                9      Married-civ-spouse          Husband                White     Male    United-States    >50K

In [290]:
#check how many missing values for each categorical values
og_test.isnull().sum(axis=0)

age at census             0
occupation             1442
employment             1436
hours worked/week         0
capital                   0
education                 0
completed years           0
relationship status       0
if married                0
race                      0
gender                    0
country of birth        431
income                    0
dtype: int64

In [291]:
#checking the frequency of each categorical values
og_test['occupation'].value_counts(normalize = False,
                                   sort      = True,
                                   ascending = False)

 Prof-specialty       3328
 Craft-repair         3280
 Exec-managerial      3273
 Adm-clerical         3039
 Sales                2946
 Other-service        2618
 Machine-op-inspct    1619
 Transport-moving     1304
 Handlers-cleaners    1094
 Farming-fishing       820
 Tech-support          735
 Protective-serv       539
 Priv-house-serv       124
 Armed-Forces            9
Name: occupation, dtype: int64

In [292]:
og_test["employment"].value_counts(normalize = True,
                                   sort      = False,
                                   ascending = False)

 Private             0.736880
 Self-emp-inc        0.035983
 Self-emp-not-inc    0.083448
 Federal-gov         0.030727
 Local-gov           0.069095
 State-gov           0.043099
 Never-worked        0.000243
 Without-pay         0.000526
Name: employment, dtype: float64

In [293]:
og_test["education"].value_counts(normalize = True,
                                  sort      = False,
                                  ascending = False)

 HS-grad         0.328697
 Bachelors       0.160948
 Assoc-voc       0.040160
 11th            0.036569
 Some-college    0.223577
 Masters         0.053649
 Assoc-acdm      0.032251
 10th            0.029461
 12th            0.013451
 9th             0.013947
 5th-6th         0.010546
 7th-8th         0.019297
 Doctorate       0.012342
 1st-4th         0.005350
 Prof-school     0.018303
 Preschool       0.001452
Name: education, dtype: float64

In [294]:
og_test["relationship status"].value_counts(normalize = True,
                                            sort      = False,
                                            ascending = False)

 Divorced                 0.134773
 Widowed                  0.030149
 Married-civ-spouse       0.462514
 Never-married            0.327474
 Separated                0.031601
 Married-spouse-absent    0.012877
 Married-AF-spouse        0.000611
Name: relationship status, dtype: float64

In [295]:
og_test["if married"].value_counts(normalize = True,
                                   sort      = False,
                                   ascending = False)

 Unmarried         0.106878
 Husband           0.406955
 Not-in-family     0.252656
 Other-relative    0.030264
 Own-child         0.154261
 Wife              0.048987
Name: if married, dtype: float64

In [296]:
og_test["race"].value_counts(normalize = True,
                             sort      = False,
                             ascending = False)

 White                 0.854681
 Asian-Pac-Islander    0.031716
 Black                 0.096179
 Amer-Indian-Eskimo    0.009171
 Other                 0.008254
Name: race, dtype: float64

In [297]:
og_test["gender"].value_counts(normalize = True,
                               sort      = False,
                               ascending = False)

 Male      0.669851
 Female    0.330149
Name: gender, dtype: float64

In [298]:
og_test["country of birth"].value_counts(normalize = True,
                                         sort      = False,
                                         ascending = False)

#categorical values with large number of categories: occupation, education, country of birth

 United-States                 0.911807
 Philippines                   0.006333
 Jamaica                       0.002642
 Mexico                        0.020047
 Guatemala                     0.002020
 South                         0.002331
 Portugal                      0.001204
 Taiwan                        0.001671
 Dominican-Republic            0.002253
 Cambodia                      0.000622
 El-Salvador                   0.003341
 Yugoslavia                    0.000427
 Greece                        0.000855
 Canada                        0.003691
 Ireland                       0.000699
 Italy                         0.002370
 Puerto-Rico                   0.003419
 India                         0.003264
 Cuba                          0.002953
 Thailand                      0.000505
 Poland                        0.001826
 England                       0.002914
 Columbia                      0.001981
 Iran                          0.001360
 Germany                       0.004584
 Hong                          0.000622
 China                         0.002176
 Peru                          0.000971
 Scotland                      0.000350
 Vietnam                       0.002253
 France                        0.000777
 Japan                         0.002020
 Laos                          0.000505
 Haiti                         0.001243
 Ecuador                       0.000855
 Trinadad&Tobago               0.000699
 Honduras                      0.000466
 Nicaragua                     0.001088
 Hungary                       0.000350
 Outlying-US(Guam-USVI-etc)    0.000505
Name: country of birth, dtype: float64

In [299]:
#defining our y
y = og_data['income'].head(n=20)
y

0      <=50K
1      <=50K
2      <=50K
3       >50K
4      <=50K
5      <=50K
6      <=50K
7      <=50K
8      <=50K
9      <=50K
10     <=50K
11     <=50K
12      >50K
13     <=50K
14      >50K
15     <=50K
16     <=50K
17      >50K
18     <=50K
19     <=50K
Name: income, dtype: object

In [300]:
#in order to replace the 3 missing value with the mode, we check what is the mode for the values
og_data.mode()

   age at census       occupation employment  hours worked/week  capital education  completed years  relationship status if married    race gender country of birth  income
0             31   Prof-specialty    Private                 40        0   HS-grad                9   Married-civ-spouse    Husband   White   Male    United-States   <=50K

In [301]:
#we replace the missing values with the mode of their columns 
og_test['occupation'].fillna(og_test['occupation'].mode()[0], inplace=True)
og_test['employment'].fillna(og_test['employment'].mode()[0], inplace=True)
og_test['country of birth'].fillna(og_test['country of birth'].mode()[0], inplace=True)

In [302]:
#check if they have been replace
og_test.head(n=50)

    age at census          occupation         employment  hours worked/week  capital      education  completed years     relationship status       if married                 race   gender country of birth  income
0              30               Sales            Private                 30     1151        HS-grad                9                Divorced        Unmarried                White     Male    United-States   <=50K
1              48       Other-service            Private                 20        0      Bachelors               13                 Widowed        Unmarried                White   Female    United-States   <=50K
2              34        Craft-repair       Self-emp-inc                 50        0        HS-grad                9      Married-civ-spouse          Husband                White     Male    United-States   <=50K
3              29        Craft-repair            Private                 32     7298      Assoc-voc               11      Married-civ-spouse          Husband   Asian-Pac-Islander     Male    United-States    >50K
4              54        Craft-repair            Private                 40        0        HS-grad                9      Married-civ-spouse          Husband                White     Male    United-States   <=50K
5              62        Tech-support            Private                 38        0      Bachelors               13      Married-civ-spouse          Husband                White     Male    United-States   <=50K
6              28       Other-service            Private                 40        0        HS-grad                9           Never-married    Not-in-family                White     Male    United-States   <=50K
7              56        Craft-repair            Private                 40        0        HS-grad                9                Divorced   Other-relative                White     Male    United-States   <=50K
8              48       Other-service            Private                 35        0           11th                7               Separated    Not-in-family                Black   Female    United-States   <=50K
9              23        Craft-repair            Private                 15        0   Some-college               10           Never-married        Own-child                White     Male    United-States   <=50K
10             35      Prof-specialty            Private                 40        0      Bachelors               13   Married-spouse-absent    Not-in-family   Asian-Pac-Islander   Female      Philippines   <=50K
11             60    Transport-moving            Private                 40        0        HS-grad                9      Married-civ-spouse          Husband                White     Male    United-States   <=50K
12             40        Adm-clerical            Private                 40     7298   Some-college               10      Married-civ-spouse             Wife                White   Female    United-States    >50K
13             71               Sales   Self-emp-not-inc                  2    -1816   Some-college               10               Separated        Unmarried                Black     Male    United-States   <=50K
14             60        Adm-clerical        Federal-gov                 40        0      Bachelors               13      Married-civ-spouse          Husband                Black     Male    United-States    >50K
15             63     Exec-managerial          Local-gov                 32        0        HS-grad                9      Married-civ-spouse             Wife                White   Female    United-States   <=50K
16             22      Prof-specialty            Private                 20        0   Some-college               10           Never-married    Not-in-family                Black     Male    United-States   <=50K
17             34      Prof-specialty            Private                 40        0      Bachelors               13      Married-civ-spouse          Husband                White     Male    United-States    >50K
18             41      Prof-specialty            Private                 70        0      Bachelors               13      Married-civ-spouse          Husband                White     Male    United-States   <=50K
19             31     Farming-fishing            Private                 45     3137        HS-grad                9      Married-civ-spouse          Husband                White     Male    United-States   <=50K
20             47      Prof-specialty   Self-emp-not-inc                 50        0        Masters               14           Never-married    Not-in-family                White   Female    United-States   <=50K
21             43     Exec-managerial            Private                 40        0      Bachelors               13      Married-civ-spouse          Husband                White     Male    United-States   <=50K
22             21       Other-service            Private                 35        0        HS-grad                9           Never-married        Own-child                White     Male    United-States   <=50K
23             29        Adm-clerical            Private                 40        0   Some-college               10           Never-married    Not-in-family                White   Female    United-States   <=50K
24             39      Prof-specialty            Private                 45     7688        Masters               14      Married-civ-spouse          Husband                White     Male    United-States    >50K
25             57        Craft-repair          Local-gov                 40    99999        HS-grad                9      Married-civ-spouse          Husband                White     Male    United-States    >50K
26             21        Adm-clerical   Self-emp-not-inc                 30        0   Some-college               10           Never-married        Own-child                White     Male    United-States   <=50K
27             47        Craft-repair   Self-emp-not-inc                 40        0   Some-college               10                Divorced    Not-in-family                White     Male    United-States   <=50K
28             30   Machine-op-inspct            Private                 40        0     Assoc-acdm               12           Never-married        Unmarried                Black   Female    United-States   <=50K
29             42        Craft-repair            Private                 45     7298   Some-college               10      Married-civ-spouse          Husband                White     Male    United-States    >50K
30             43    Transport-moving            Private                 42        0           11th                7           Never-married    Not-in-family                White     Male    United-States   <=50K
31             32      Prof-specialty            Private                 40        0      Bachelors               13           Never-married    Not-in-family                White     Male    United-States   <=50K
32             30    Transport-moving            Private                 40        0        HS-grad                9      Married-civ-spouse          Husband                White     Male    United-States   <=50K
33             41               Sales            Private                 40     3942   Some-college               10      Married-civ-spouse          Husband                White     Male    United-States   <=50K
34             31      Prof-specialty       Self-emp-inc                 45        0      Bachelors               13           Never-married    Not-in-family                White     Male    United-States    >50K
35             18       Other-service            Private                 23    -1602           11th                7           Never-married        Own-child                Black     Male    United-States   <=50K
36             69     Exec-managerial          Local-gov                 20        0           10th                6      Married-civ-spouse          Husband                White     Male    United-States   <=50K
37             32               Sales            Private                 45    -1669        HS-grad                9           Never-married        Own-child                Black   Female    United-States   <=50K
38             50   Machine-op-inspct            Private                 50        0        HS-grad                9      Married-civ-spouse          Husband                White     Male    United-States   <=50K
39             42      Prof-specialty            Private                 40        0      Assoc-voc               11      Married-civ-spouse          Husband                White     Male    United-States    >50K
40             29        Adm-clerical          State-gov                 40        0      Assoc-voc               11                Divorced        Own-child                White     Male    United-States   <=50K
41             19               Sales            Private                 20        0        HS-grad                9           Never-married        Unmarried                Black   Female    United-States   <=50K
42             49        Craft-repair            Private                 40        0        HS-grad                9      Married-civ-spouse          Husband                White     Male    United-States   <=50K
43             52       Other-service            Private                 32        0      Assoc-voc               11                Divorced    Not-in-family                White     Male    United-States   <=50K
44             58        Adm-clerical          State-gov                 16        0        HS-grad                9           Never-married    Not-in-family                White   Female    United-States   <=50K
45             17       Other-service            Private                 10        0           10th                6           Never-married        Own-child                White   Female    United-States   <=50K
46             23       Other-service            Private                 20        0   Some-college               10           Never-married        Own-child                White   Female    United-States   <=50K
47             29   Handlers-cleaners          Local-gov                 45    -1590        HS-grad                9           Never-married        Unmarried   Asian-Pac-Islander     Male    United-States   <=50K
48             21      Prof-specialty            Private                 30        0   Some-college               10           Never-married        Own-child                White     Male    United-States   <=50K
49             36        Craft-repair            Private                 40        0        HS-grad                9      Married-civ-spouse          Husband                White     Male    United-States    >50K

In [303]:
#double check
print(og_test.isnull().any(axis = 0))

age at census          False
occupation             False
employment             False
hours worked/week      False
capital                False
education              False
completed years        False
relationship status    False
if married             False
race                   False
gender                 False
country of birth       False
income                 False
dtype: bool

In [304]:
#to see how to organize the bins for the age, look at the range
og_test["age at census"].describe()

count    26170.000000
mean        38.602407
std         13.630300
min         17.000000
25%         28.000000
50%         37.000000
75%         48.000000
max         90.000000
Name: age at census, dtype: float64

In [305]:
#creating bins for AGE AT CENSUS
#(17-29,30-49,50-69,70-90)
#https://predictivehacks.com/how-to-create-bins-in-python-using-pandas/
bins = [16, 29, 49, 69, 90]
og_test['bins_age'] = pd.cut(og_test['age at census'], bins)
og_test

       age at census        occupation     employment  hours worked/week  capital      education  ...      if married                 race   gender country of birth  income  bins_age
0                 30             Sales        Private                 30     1151        HS-grad  ...       Unmarried                White     Male    United-States   <=50K  (29, 49]
1                 48     Other-service        Private                 20        0      Bachelors  ...       Unmarried                White   Female    United-States   <=50K  (29, 49]
2                 34      Craft-repair   Self-emp-inc                 50        0        HS-grad  ...         Husband                White     Male    United-States   <=50K  (29, 49]
3                 29      Craft-repair        Private                 32     7298      Assoc-voc  ...         Husband   Asian-Pac-Islander     Male    United-States    >50K  (16, 29]
4                 54      Craft-repair        Private                 40        0        HS-grad  ...         Husband                White     Male    United-States   <=50K  (49, 69]
...              ...               ...            ...                ...      ...            ...  ...             ...                  ...      ...              ...     ...       ...
26165             51   Exec-managerial        Private                 50    -2559      Bachelors  ...   Not-in-family                White     Male    United-States    >50K  (49, 69]
26166             63      Craft-repair        Private                 22        0   Some-college  ...       Unmarried                White     Male    United-States   <=50K  (49, 69]
26167             33             Sales        Private                 50        0      Bachelors  ...         Husband                White     Male    United-States   <=50K  (29, 49]
26168             25      Adm-clerical        Private                 40        0      Assoc-voc  ...   Not-in-family                White     Male    United-States   <=50K  (16, 29]
26169             22             Sales        Private                 40        0        HS-grad  ...       Own-child                White   Female    United-States   <=50K  (16, 29]

[26170 rows x 14 columns]

In [306]:
#check if it worked
og_test['bins_age'].value_counts(normalize = False,
                                 sort      = False,
                                 ascending = False)

(16, 29]     7790
(29, 49]    12694
(49, 69]     5177
(69, 90]      509
Name: bins_age, dtype: int64

In [307]:
#use the formula to get rid of the space in front of the words
for col in og_test:
    if og_test[col].dtype == 'object':
        og_test[col] = og_test[col].str.strip()


#creating bins for OCCUPATION:

ind = {'Sales'           :'Sales and Other service',
      'Other-service'    : 'Sales and Other service',
      'Tech-support'     : 'Technical',
      'Craft-repair'     : 'Technical',
      'Adm-clerical'     : 'Technical',
      'Transport-moving' : 'Transport',
      'Protective-serv'  : 'Public',
      'Armed-Forces'     : 'Public',
      'Priv-house-serv'  : 'Private',
      'Farming-fishing'  : 'Agricultural',
      'Exec-managerial'  : 'Managerial',
      'Handlers-cleaners':'Others',
      'Prof-specialty'   :'Others',
      'Machine-op-inspct':'Others'}
og_test['industry'] = og_test['occupation'].map(ind)

In [308]:
#creating bins for EMPLOYMENT: 
#Private+Self-emp-inc
#Self-emp-not-inc, Never-worked,Without-pay
#Federal-gov+Local-gov+ State-gov
car = {'Private'         : 'Private and Self',
       'Self-emp-inc'    : 'Private and Self',
       'Self-emp-not-inc': 'No income',
       'Federal-gov'     : 'Government',
       'Local-gov'       : 'Government',
       'State-gov'       : 'Government',
       'Never-worked'    : 'No income',
       'Without-pay'     : 'No income'}
og_test['career'] = og_test['employment'].map(car)

In [309]:
#creating bins for CAPITAL:
for num in og_test['capital']:
    if  num < 0:
        og_test['capital'].replace(to_replace = num, 
                                   value = "Negegative Capital", 
                                   inplace = True)
    elif num == 0:
        og_test['capital'].replace(to_replace = num, 
                                   value = "No Capital", 
                                   inplace = True)
    elif num > 0:
        og_test['capital'].replace(to_replace = num, 
                                   value = "Positive Capital", 
                                   inplace = True)
   
    else:
        print(" ")

In [310]:
#Creating bins for EDUCATION:
#Preschool+1st-4th+5th-6th+7th-8th+9th+10th+11th+HS-grad,
#Prof-school+Assoc-voc+Assoc-acdm+Some-college,
#Bachelors,
#Masters,
#Doctorate
edu = {'Preschool'   : 'School',
       '1st-4th'     : 'School',
       '5th-6th'     : 'School',
       '7th-8th'     : 'School',
       '9th'         : 'School',
       '10th'        : 'School',
       '11th'        : 'School',
       '12th'        : 'School',
       'HS-grad'     : 'High School',
       'Prof-school' : 'Tec School',
       'Assoc-voc'   : 'Tec School',
       'Assoc-acdm'  : 'Tec School',
       'Some-college': 'Tec School',
       'Bachelors'   : 'Bachelors',
       'Masters'     : 'Masters',
       'Doctorate'   : 'Doctorate'}
og_test['academic'] = og_test['education'].map(edu)

In [311]:
#creating bins for RELATIONSHIP STATUS
#we decide them based on the income, if they were alone or in different houses etc.
rel = {'Divorced'             : 'Apart', 
       'Widowed'              : 'Alone',
       'Married-civ-spouse'   : 'Married',
       'Never-married'        : 'Alone',
       'Separated'            : 'Apart',
       'Married-spouse-absent': 'Apart',
       'Married-AF-spouse'    : 'Apart'}
og_test['relationship'] = og_test['relationship status'].map(rel)

In [312]:
#Creating bins for COUNTRY OF BIRTH:
cob = {'Cambodia'          : 'Lower-Income',
       'El-Salvador'       : 'Lower-Income',
       'Haiti'             : 'Lower-Income',
       'India'             : 'Lower-Income',
       'Iran'              : 'Lower-Income',
       'Nicaragua'         : 'Lower-Income',
       'Philippines'       : 'Lower-Income',
       'Vietnam'           : 'Lower-Income',
       'China'             : 'Middle-Income',
       'Columbia'          : 'Middle-Income',
       'Cuba'              : 'Middle-Income',
       'Dominican-Republic': 'Middle-Income',
       'Ecuador'           : 'Middle-Income',
       'Guatemala'         : 'Middle-Income',
       'Honduras'          : 'Middle-Income',
       'Jamaica'           : 'Middle-Income',
       'Mexico'            : 'Middle-Income',
       'Peru'              : 'Middle-Income',
       'South'             : 'Middle-Income',
       'Thailand'          : 'Middle-Income',
       'United-States'     : 'High-Income',
       'Canada'            : 'High-Income',
       'England'           : 'High-Income',
       'Ireland'           : 'High-Income',
       'Puerto-Rico'       : 'High-Income',
       'France'            : 'High-Income',
       'Germany'           : 'High-Income',
       'Greece'            : 'High-Income',
       'Hong'              : 'High-Income',
       'Hungary'           : 'High-Income',
       'Italy'             : 'High-Income',
       'Outlying-US'       : 'High-Income',
        'Poland'           : 'High-Income',
        'Portugal'         : 'High-Income',
        'Taiwan'           : 'High-Income',
        'Trinadad&Tobago'  : 'High-Income',
        'Japan'            : 'Middle-Income'}
og_test['country'] = og_test['country of birth'].map(cob)

    age at census         occupation        employment  hours worked/week             capital     education  ...  bins_age                 industry            career     academic relationship       country
0              30              Sales           Private                 30    Positive Capital       HS-grad  ...  (29, 49]  Sales and Other service  Private and Self  High School        Apart   High-Income
1              48      Other-service           Private                 20          No Capital     Bachelors  ...  (29, 49]  Sales and Other service  Private and Self    Bachelors        Alone   High-Income
2              34       Craft-repair      Self-emp-inc                 50          No Capital       HS-grad  ...  (29, 49]                Technical  Private and Self  High School      Married   High-Income
3              29       Craft-repair           Private                 32    Positive Capital     Assoc-voc  ...  (16, 29]                Technical  Private and Self   Tec School      Married   High-Income
4              54       Craft-repair           Private                 40          No Capital       HS-grad  ...  (49, 69]                Technical  Private and Self  High School      Married   High-Income
5              62       Tech-support           Private                 38          No Capital     Bachelors  ...  (49, 69]                Technical  Private and Self    Bachelors      Married   High-Income
6              28      Other-service           Private                 40          No Capital       HS-grad  ...  (16, 29]  Sales and Other service  Private and Self  High School        Alone   High-Income
7              56       Craft-repair           Private                 40          No Capital       HS-grad  ...  (49, 69]                Technical  Private and Self  High School        Apart   High-Income
8              48      Other-service           Private                 35          No Capital          11th  ...  (29, 49]  Sales and Other service  Private and Self       School        Apart   High-Income
9              23       Craft-repair           Private                 15          No Capital  Some-college  ...  (16, 29]                Technical  Private and Self   Tec School        Alone   High-Income
10             35     Prof-specialty           Private                 40          No Capital     Bachelors  ...  (29, 49]                   Others  Private and Self    Bachelors        Apart  Lower-Income
11             60   Transport-moving           Private                 40          No Capital       HS-grad  ...  (49, 69]                Transport  Private and Self  High School      Married   High-Income
12             40       Adm-clerical           Private                 40    Positive Capital  Some-college  ...  (29, 49]                Technical  Private and Self   Tec School      Married   High-Income
13             71              Sales  Self-emp-not-inc                  2  Negegative Capital  Some-college  ...  (69, 90]  Sales and Other service         No income   Tec School        Apart   High-Income
14             60       Adm-clerical       Federal-gov                 40          No Capital     Bachelors  ...  (49, 69]                Technical        Government    Bachelors      Married   High-Income
15             63    Exec-managerial         Local-gov                 32          No Capital       HS-grad  ...  (49, 69]               Managerial        Government  High School      Married   High-Income
16             22     Prof-specialty           Private                 20          No Capital  Some-college  ...  (16, 29]                   Others  Private and Self   Tec School        Alone   High-Income
17             34     Prof-specialty           Private                 40          No Capital     Bachelors  ...  (29, 49]                   Others  Private and Self    Bachelors      Married   High-Income
18             41     Prof-specialty           Private                 70          No Capital     Bachelors  ...  (29, 49]                   Others  Private and Self    Bachelors      Married   High-Income
19             31    Farming-fishing           Private                 45    Positive Capital       HS-grad  ...  (29, 49]             Agricultural  Private and Self  High School      Married   High-Income
20             47     Prof-specialty  Self-emp-not-inc                 50          No Capital       Masters  ...  (29, 49]                   Others         No income      Masters        Alone   High-Income
21             43    Exec-managerial           Private                 40          No Capital     Bachelors  ...  (29, 49]               Managerial  Private and Self    Bachelors      Married   High-Income
22             21      Other-service           Private                 35          No Capital       HS-grad  ...  (16, 29]  Sales and Other service  Private and Self  High School        Alone   High-Income
23             29       Adm-clerical           Private                 40          No Capital  Some-college  ...  (16, 29]                Technical  Private and Self   Tec School        Alone   High-Income
24             39     Prof-specialty           Private                 45    Positive Capital       Masters  ...  (29, 49]                   Others  Private and Self      Masters      Married   High-Income
25             57       Craft-repair         Local-gov                 40    Positive Capital       HS-grad  ...  (49, 69]                Technical        Government  High School      Married   High-Income
26             21       Adm-clerical  Self-emp-not-inc                 30          No Capital  Some-college  ...  (16, 29]                Technical         No income   Tec School        Alone   High-Income
27             47       Craft-repair  Self-emp-not-inc                 40          No Capital  Some-college  ...  (29, 49]                Technical         No income   Tec School        Apart   High-Income
28             30  Machine-op-inspct           Private                 40          No Capital    Assoc-acdm  ...  (29, 49]                   Others  Private and Self   Tec School        Alone   High-Income
29             42       Craft-repair           Private                 45    Positive Capital  Some-college  ...  (29, 49]                Technical  Private and Self   Tec School      Married   High-Income
30             43   Transport-moving           Private                 42          No Capital          11th  ...  (29, 49]                Transport  Private and Self       School        Alone   High-Income
31             32     Prof-specialty           Private                 40          No Capital     Bachelors  ...  (29, 49]                   Others  Private and Self    Bachelors        Alone   High-Income
32             30   Transport-moving           Private                 40          No Capital       HS-grad  ...  (29, 49]                Transport  Private and Self  High School      Married   High-Income
33             41              Sales           Private                 40    Positive Capital  Some-college  ...  (29, 49]  Sales and Other service  Private and Self   Tec School      Married   High-Income
34             31     Prof-specialty      Self-emp-inc                 45          No Capital     Bachelors  ...  (29, 49]                   Others  Private and Self    Bachelors        Alone   High-Income
35             18      Other-service           Private                 23  Negegative Capital          11th  ...  (16, 29]  Sales and Other service  Private and Self       School        Alone   High-Income
36             69    Exec-managerial         Local-gov                 20          No Capital          10th  ...  (49, 69]               Managerial        Government       School      Married   High-Income
37             32              Sales           Private                 45  Negegative Capital       HS-grad  ...  (29, 49]  Sales and Other service  Private and Self  High School        Alone   High-Income
38             50  Machine-op-inspct           Private                 50          No Capital       HS-grad  ...  (49, 69]                   Others  Private and Self  High School      Married   High-Income
39             42     Prof-specialty           Private                 40          No Capital     Assoc-voc  ...  (29, 49]                   Others  Private and Self   Tec School      Married   High-Income
40             29       Adm-clerical         State-gov                 40          No Capital     Assoc-voc  ...  (16, 29]                Technical        Government   Tec School        Apart   High-Income
41             19              Sales           Private                 20          No Capital       HS-grad  ...  (16, 29]  Sales and Other service  Private and Self  High School        Alone   High-Income
42             49       Craft-repair           Private                 40          No Capital       HS-grad  ...  (29, 49]                Technical  Private and Self  High School      Married   High-Income
43             52      Other-service           Private                 32          No Capital     Assoc-voc  ...  (49, 69]  Sales and Other service  Private and Self   Tec School        Apart   High-Income
44             58       Adm-clerical         State-gov                 16          No Capital       HS-grad  ...  (49, 69]                Technical        Government  High School        Alone   High-Income
45             17      Other-service           Private                 10          No Capital          10th  ...  (16, 29]  Sales and Other service  Private and Self       School        Alone   High-Income
46             23      Other-service           Private                 20          No Capital  Some-college  ...  (16, 29]  Sales and Other service  Private and Self   Tec School        Alone   High-Income
47             29  Handlers-cleaners         Local-gov                 45  Negegative Capital       HS-grad  ...  (16, 29]                   Others        Government  High School        Alone   High-Income
48             21     Prof-specialty           Private                 30          No Capital  Some-college  ...  (16, 29]                   Others  Private and Self   Tec School        Alone   High-Income
49             36       Craft-repair           Private                 40          No Capital       HS-grad  ...  (29, 49]                Technical  Private and Self  High School      Married   High-Income

[50 rows x 19 columns]

In [313]:
#Creating bins for HOURS WORKED/WEEK:
hours_bins = [0,20,40,60,80,100]
og_test['bins_hours_per_week'] = pd.cut(og_test['hours worked/week'], hours_bins)

In [314]:
#Creating bins for COMPLETED YEARS:
comp_years_bins = [0,2,4,6,8,10,12,14,16,18,20]
og_test['bins_comp_years'] = pd.cut(og_test['completed years'], comp_years_bins)

In [315]:
#since we create new columns with bins, we drop the original columns of categorical values
#create a new data frame
og_income= pd.DataFrame.copy(og_test)
og_income = og_income.drop(columns=['age at census','occupation','hours worked/week','completed years','education','employment','relationship status','country of birth'])
#check 
og_income.head(n=10)

               capital      if married                race  gender income  bins_age                 industry            career     academic relationship       country bins_hours_per_week bins_comp_years
0     Positive Capital       Unmarried               White    Male  <=50K  (29, 49]  Sales and Other service  Private and Self  High School        Apart   High-Income            (20, 40]         (8, 10]
1           No Capital       Unmarried               White  Female  <=50K  (29, 49]  Sales and Other service  Private and Self    Bachelors        Alone   High-Income             (0, 20]        (12, 14]
2           No Capital         Husband               White    Male  <=50K  (29, 49]                Technical  Private and Self  High School      Married   High-Income            (40, 60]         (8, 10]
3     Positive Capital         Husband  Asian-Pac-Islander    Male   >50K  (16, 29]                Technical  Private and Self   Tec School      Married   High-Income            (20, 40]        (10, 12]
4           No Capital         Husband               White    Male  <=50K  (49, 69]                Technical  Private and Self  High School      Married   High-Income            (20, 40]         (8, 10]
5           No Capital         Husband               White    Male  <=50K  (49, 69]                Technical  Private and Self    Bachelors      Married   High-Income            (20, 40]        (12, 14]
6           No Capital   Not-in-family               White    Male  <=50K  (16, 29]  Sales and Other service  Private and Self  High School        Alone   High-Income            (20, 40]         (8, 10]
7           No Capital  Other-relative               White    Male  <=50K  (49, 69]                Technical  Private and Self  High School        Apart   High-Income            (20, 40]         (8, 10]
8           No Capital   Not-in-family               Black  Female  <=50K  (29, 49]  Sales and Other service  Private and Self       School        Apart   High-Income            (20, 40]          (6, 8]
9           No Capital       Own-child               White    Male  <=50K  (16, 29]                Technical  Private and Self   Tec School        Alone   High-Income             (0, 20]         (8, 10]
10          No Capital   Not-in-family  Asian-Pac-Islander  Female  <=50K  (29, 49]                   Others  Private and Self    Bachelors        Apart  Lower-Income            (20, 40]        (12, 14]
11          No Capital         Husband               White    Male  <=50K  (49, 69]                Transport  Private and Self  High School      Married   High-Income            (20, 40]         (8, 10]
12    Positive Capital            Wife               White  Female   >50K  (29, 49]                Technical  Private and Self   Tec School      Married   High-Income            (20, 40]         (8, 10]
13  Negegative Capital       Unmarried               Black    Male  <=50K  (69, 90]  Sales and Other service         No income   Tec School        Apart   High-Income             (0, 20]         (8, 10]
14          No Capital         Husband               Black    Male   >50K  (49, 69]                Technical        Government    Bachelors      Married   High-Income            (20, 40]        (12, 14]
15          No Capital            Wife               White  Female  <=50K  (49, 69]               Managerial        Government  High School      Married   High-Income            (20, 40]         (8, 10]
16          No Capital   Not-in-family               Black    Male  <=50K  (16, 29]                   Others  Private and Self   Tec School        Alone   High-Income             (0, 20]         (8, 10]
17          No Capital         Husband               White    Male   >50K  (29, 49]                   Others  Private and Self    Bachelors      Married   High-Income            (20, 40]        (12, 14]
18          No Capital         Husband               White    Male  <=50K  (29, 49]                   Others  Private and Self    Bachelors      Married   High-Income            (60, 80]        (12, 14]
19    Positive Capital         Husband               White    Male  <=50K  (29, 49]             Agricultural  Private and Self  High School      Married   High-Income            (40, 60]         (8, 10]
20          No Capital   Not-in-family               White  Female  <=50K  (29, 49]                   Others         No income      Masters        Alone   High-Income            (40, 60]        (12, 14]
21          No Capital         Husband               White    Male  <=50K  (29, 49]               Managerial  Private and Self    Bachelors      Married   High-Income            (20, 40]        (12, 14]
22          No Capital       Own-child               White    Male  <=50K  (16, 29]  Sales and Other service  Private and Self  High School        Alone   High-Income            (20, 40]         (8, 10]
23          No Capital   Not-in-family               White  Female  <=50K  (16, 29]                Technical  Private and Self   Tec School        Alone   High-Income            (20, 40]         (8, 10]
24    Positive Capital         Husband               White    Male   >50K  (29, 49]                   Others  Private and Self      Masters      Married   High-Income            (40, 60]        (12, 14]
25    Positive Capital         Husband               White    Male   >50K  (49, 69]                Technical        Government  High School      Married   High-Income            (20, 40]         (8, 10]
26          No Capital       Own-child               White    Male  <=50K  (16, 29]                Technical         No income   Tec School        Alone   High-Income            (20, 40]         (8, 10]
27          No Capital   Not-in-family               White    Male  <=50K  (29, 49]                Technical         No income   Tec School        Apart   High-Income            (20, 40]         (8, 10]
28          No Capital       Unmarried               Black  Female  <=50K  (29, 49]                   Others  Private and Self   Tec School        Alone   High-Income            (20, 40]        (10, 12]
29    Positive Capital         Husband               White    Male   >50K  (29, 49]                Technical  Private and Self   Tec School      Married   High-Income            (40, 60]         (8, 10]
30          No Capital   Not-in-family               White    Male  <=50K  (29, 49]                Transport  Private and Self       School        Alone   High-Income            (40, 60]          (6, 8]
31          No Capital   Not-in-family               White    Male  <=50K  (29, 49]                   Others  Private and Self    Bachelors        Alone   High-Income            (20, 40]        (12, 14]
32          No Capital         Husband               White    Male  <=50K  (29, 49]                Transport  Private and Self  High School      Married   High-Income            (20, 40]         (8, 10]
33    Positive Capital         Husband               White    Male  <=50K  (29, 49]  Sales and Other service  Private and Self   Tec School      Married   High-Income            (20, 40]         (8, 10]
34          No Capital   Not-in-family               White    Male   >50K  (29, 49]                   Others  Private and Self    Bachelors        Alone   High-Income            (40, 60]        (12, 14]
35  Negegative Capital       Own-child               Black    Male  <=50K  (16, 29]  Sales and Other service  Private and Self       School        Alone   High-Income            (20, 40]          (6, 8]
36          No Capital         Husband               White    Male  <=50K  (49, 69]               Managerial        Government       School      Married   High-Income             (0, 20]          (4, 6]
37  Negegative Capital       Own-child               Black  Female  <=50K  (29, 49]  Sales and Other service  Private and Self  High School        Alone   High-Income            (40, 60]         (8, 10]
38          No Capital         Husband               White    Male  <=50K  (49, 69]                   Others  Private and Self  High School      Married   High-Income            (40, 60]         (8, 10]
39          No Capital         Husband               White    Male   >50K  (29, 49]                   Others  Private and Self   Tec School      Married   High-Income            (20, 40]        (10, 12]
40          No Capital       Own-child               White    Male  <=50K  (16, 29]                Technical        Government   Tec School        Apart   High-Income            (20, 40]        (10, 12]
41          No Capital       Unmarried               Black  Female  <=50K  (16, 29]  Sales and Other service  Private and Self  High School        Alone   High-Income             (0, 20]         (8, 10]
42          No Capital         Husband               White    Male  <=50K  (29, 49]                Technical  Private and Self  High School      Married   High-Income            (20, 40]         (8, 10]
43          No Capital   Not-in-family               White    Male  <=50K  (49, 69]  Sales and Other service  Private and Self   Tec School        Apart   High-Income            (20, 40]        (10, 12]
44          No Capital   Not-in-family               White  Female  <=50K  (49, 69]                Technical        Government  High School        Alone   High-Income             (0, 20]         (8, 10]
45          No Capital       Own-child               White  Female  <=50K  (16, 29]  Sales and Other service  Private and Self       School        Alone   High-Income             (0, 20]          (4, 6]
46          No Capital       Own-child               White  Female  <=50K  (16, 29]  Sales and Other service  Private and Self   Tec School        Alone   High-Income             (0, 20]         (8, 10]
47  Negegative Capital       Unmarried  Asian-Pac-Islander    Male  <=50K  (16, 29]                   Others        Government  High School        Alone   High-Income            (40, 60]         (8, 10]
48          No Capital       Own-child               White    Male  <=50K  (16, 29]                   Others  Private and Self   Tec School        Alone   High-Income            (20, 40]         (8, 10]
49          No Capital         Husband               White    Male   >50K  (29, 49]                Technical  Private and Self  High School      Married   High-Income            (20, 40]         (8, 10]

In [316]:
#creating dummies 
og_income = pd.get_dummies(data = og_income, columns = ["gender", "income"], drop_first = True)
og_income.head(n=20)

               capital      if married                race  bins_age                 industry            career     academic relationship       country bins_hours_per_week bins_comp_years  gender_Male  income_>50K
0     Positive Capital       Unmarried               White  (29, 49]  Sales and Other service  Private and Self  High School        Apart   High-Income            (20, 40]         (8, 10]            1            0
1           No Capital       Unmarried               White  (29, 49]  Sales and Other service  Private and Self    Bachelors        Alone   High-Income             (0, 20]        (12, 14]            0            0
2           No Capital         Husband               White  (29, 49]                Technical  Private and Self  High School      Married   High-Income            (40, 60]         (8, 10]            1            0
3     Positive Capital         Husband  Asian-Pac-Islander  (16, 29]                Technical  Private and Self   Tec School      Married   High-Income            (20, 40]        (10, 12]            1            1
4           No Capital         Husband               White  (49, 69]                Technical  Private and Self  High School      Married   High-Income            (20, 40]         (8, 10]            1            0
5           No Capital         Husband               White  (49, 69]                Technical  Private and Self    Bachelors      Married   High-Income            (20, 40]        (12, 14]            1            0
6           No Capital   Not-in-family               White  (16, 29]  Sales and Other service  Private and Self  High School        Alone   High-Income            (20, 40]         (8, 10]            1            0
7           No Capital  Other-relative               White  (49, 69]                Technical  Private and Self  High School        Apart   High-Income            (20, 40]         (8, 10]            1            0
8           No Capital   Not-in-family               Black  (29, 49]  Sales and Other service  Private and Self       School        Apart   High-Income            (20, 40]          (6, 8]            0            0
9           No Capital       Own-child               White  (16, 29]                Technical  Private and Self   Tec School        Alone   High-Income             (0, 20]         (8, 10]            1            0
10          No Capital   Not-in-family  Asian-Pac-Islander  (29, 49]                   Others  Private and Self    Bachelors        Apart  Lower-Income            (20, 40]        (12, 14]            0            0
11          No Capital         Husband               White  (49, 69]                Transport  Private and Self  High School      Married   High-Income            (20, 40]         (8, 10]            1            0
12    Positive Capital            Wife               White  (29, 49]                Technical  Private and Self   Tec School      Married   High-Income            (20, 40]         (8, 10]            0            1
13  Negegative Capital       Unmarried               Black  (69, 90]  Sales and Other service         No income   Tec School        Apart   High-Income             (0, 20]         (8, 10]            1            0
14          No Capital         Husband               Black  (49, 69]                Technical        Government    Bachelors      Married   High-Income            (20, 40]        (12, 14]            1            1
15          No Capital            Wife               White  (49, 69]               Managerial        Government  High School      Married   High-Income            (20, 40]         (8, 10]            0            0
16          No Capital   Not-in-family               Black  (16, 29]                   Others  Private and Self   Tec School        Alone   High-Income             (0, 20]         (8, 10]            1            0
17          No Capital         Husband               White  (29, 49]                   Others  Private and Self    Bachelors      Married   High-Income            (20, 40]        (12, 14]            1            1
18          No Capital         Husband               White  (29, 49]                   Others  Private and Self    Bachelors      Married   High-Income            (60, 80]        (12, 14]            1            0
19    Positive Capital         Husband               White  (29, 49]             Agricultural  Private and Self  High School      Married   High-Income            (40, 60]         (8, 10]            1            0

In [317]:
#renaming income with no special characters 
og_income.rename(columns= {'income_>50K' : 'income'}, inplace= True )
og_income.head(n=4)

            capital if married                race  bins_age                 industry            career     academic relationship      country bins_hours_per_week bins_comp_years  gender_Male  income
0  Positive Capital  Unmarried               White  (29, 49]  Sales and Other service  Private and Self  High School        Apart  High-Income            (20, 40]         (8, 10]            1       0
1        No Capital  Unmarried               White  (29, 49]  Sales and Other service  Private and Self    Bachelors        Alone  High-Income             (0, 20]        (12, 14]            0       0
2        No Capital    Husband               White  (29, 49]                Technical  Private and Self  High School      Married  High-Income            (40, 60]         (8, 10]            1       0
3  Positive Capital    Husband  Asian-Pac-Islander  (16, 29]                Technical  Private and Self   Tec School      Married  High-Income            (20, 40]        (10, 12]            1       1

In [318]:
#importing the libraries
import statsmodels.formula.api as smf
from sklearn.model_selection import train_test_split

#setting print option
pd.set_option('display.max_rows', 7851)
pd.set_option('display.max_columns',13)
pd.set_option('display.width', 1000)

og_income

                  capital     if married                race  bins_age                 industry            career     academic relationship      country bins_hours_per_week bins_comp_years  gender_Male  income
0        Positive Capital      Unmarried               White  (29, 49]  Sales and Other service  Private and Self  High School        Apart  High-Income            (20, 40]         (8, 10]            1       0
1              No Capital      Unmarried               White  (29, 49]  Sales and Other service  Private and Self    Bachelors        Alone  High-Income             (0, 20]        (12, 14]            0       0
2              No Capital        Husband               White  (29, 49]                Technical  Private and Self  High School      Married  High-Income            (40, 60]         (8, 10]            1       0
3        Positive Capital        Husband  Asian-Pac-Islander  (16, 29]                Technical  Private and Self   Tec School      Married  High-Income            (20, 40]        (10, 12]            1       1
4              No Capital        Husband               White  (49, 69]                Technical  Private and Self  High School      Married  High-Income            (20, 40]         (8, 10]            1       0
...                   ...            ...                 ...       ...                      ...               ...          ...          ...          ...                 ...             ...          ...     ...
26165  Negegative Capital  Not-in-family               White  (49, 69]               Managerial  Private and Self    Bachelors        Apart  High-Income            (40, 60]        (12, 14]            1       1
26166          No Capital      Unmarried               White  (49, 69]                Technical  Private and Self   Tec School        Apart  High-Income            (20, 40]         (8, 10]            1       0
26167          No Capital        Husband               White  (29, 49]  Sales and Other service  Private and Self    Bachelors      Married  High-Income            (40, 60]        (12, 14]            1       0
26168          No Capital  Not-in-family               White  (16, 29]                Technical  Private and Self   Tec School        Alone  High-Income            (20, 40]        (10, 12]            1       0
26169          No Capital      Own-child               White  (16, 29]  Sales and Other service  Private and Self  High School        Alone  High-Income            (20, 40]         (8, 10]            0       0

[26170 rows x 13 columns]

In [319]:
#defining explanatory variables 
x_data = og_income.drop(['income'],
                         axis = 1)

#definingn target variable 
y_data = og_income.loc[ : , 'income']

#creating testing and training sets 
x_train, x_test, y_train, y_test = train_test_split(
                                                    x_data, 
                                                    y_data,
                                                    test_size = 0.30, #testing at 30%
                                                    random_state = 1223)

#check the shape 
print(f"""
Training Data
-------------
X-side: {x_train.shape}
y-side: {y_train.shape[0]}


Testing Data
------------
X-side: {x_test.shape}
y-side: {y_test.shape[0]}
""")

Training Data
-------------
X-side: (18319, 12)
y-side: 18319


Testing Data
------------
X-side: (7851, 12)
y-side: 7851

In [320]:
#merging the explanatory and target training 
data_train = pd.concat([x_train, y_train], axis = 1)

##merging the explanatory and target testing  
data_test = pd.concat([x_test, y_test], axis = 1)

In [321]:
#exporting the training set as csv
data_train.to_csv( "data_train.csv",
                        index        = False)

#exporting the testing set as csv
data_test.to_csv( "data_test.csv",
                       index        = False)

In [325]:
# merging X_train and y_train so that they can be used in statsmodels
data_train = pd.concat([x_train, y_train], axis = 1)


#building the  model
data_best = smf.ols(formula =  """income ~ capital +
                                           race +
                                           bins_age +
                                           industry +
                                           career +
                                           academic +
                                           relationship +
                                           country +
                                           bins_hours_per_week +
                                           bins_comp_years +
                                           gender_Male""",
                    data = data_train)


# fitting the model
results = data_best.fit()



#checking the results 
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 income   R-squared:                       0.372
Model:                            OLS   Adj. R-squared:                  0.371
Method:                 Least Squares   F-statistic:                     291.8
Date:                Fri, 12 Nov 2021   Prob (F-statistic):               0.00
Time:                        16:36:55   Log-Likelihood:                -6170.9
No. Observations:               18284   AIC:                         1.242e+04
Df Residuals:                   18246   BIC:                         1.271e+04
Df Model:                          37
Covariance Type:            nonrobust
============================================================================================================================
                                                               coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------------------------------------------
Intercept                                                    0.0039      0.027      0.143      0.886      -0.050       0.058
capital[T.No Capital]                                       -0.1928      0.012    -15.873      0.000      -0.217      -0.169
capital[T.Positive Capital]                                  0.0697      0.015      4.758      0.000       0.041       0.098
race[T.Asian-Pac-Islander]                                   0.0813      0.030      2.667      0.008       0.022       0.141
race[T.Black]                                                0.0567      0.027      2.113      0.035       0.004       0.109
race[T.Other]                                                0.0111      0.037      0.298      0.765      -0.062       0.084
race[T.White]                                                0.0648      0.026      2.516      0.012       0.014       0.115
bins_age[T.Interval(29, 49, closed='right')]                 0.0892      0.007     12.882      0.000       0.076       0.103
bins_age[T.Interval(49, 69, closed='right')]                 0.1169      0.008     13.947      0.000       0.100       0.133
bins_age[T.Interval(69, 90, closed='right')]                -0.0020      0.019     -0.103      0.918      -0.039       0.035
industry[T.Managerial]                                       0.2075      0.017     12.378      0.000       0.175       0.240
industry[T.Others]                                           0.0944      0.016      5.946      0.000       0.063       0.125
industry[T.Private]                                          0.1236      0.040      3.057      0.002       0.044       0.203
industry[T.Public]                                           0.1478      0.023      6.363      0.000       0.102       0.193
industry[T.Sales and Other service]                          0.1107      0.016      6.940      0.000       0.079       0.142
industry[T.Technical]                                        0.0935      0.016      5.931      0.000       0.063       0.124
industry[T.Transport]                                        0.0528      0.019      2.832      0.005       0.016       0.089
career[T.No income]                                         -0.0601      0.012     -5.049      0.000      -0.083      -0.037
career[T.Private and Self]                                   0.0029      0.008      0.371      0.710      -0.013       0.018
academic[T.Doctorate]                                        0.0759      0.022      3.390      0.001       0.032       0.120
academic[T.High School]                                     -0.0171      0.011     -1.549      0.121      -0.039       0.005
academic[T.Masters]                                          0.0975      0.013      7.738      0.000       0.073       0.122
academic[T.School]                                          -0.1828      0.026     -7.153      0.000      -0.233      -0.133
academic[T.Tec School]                                       0.0419      0.010      4.189      0.000       0.022       0.062
relationship[T.Apart]                                       -0.0168      0.008     -2.083      0.037      -0.033      -0.001
relationship[T.Married]                                      0.2667      0.007     38.334      0.000       0.253       0.280
country[T.Lower-Income]                                     -0.0413      0.021     -1.984      0.047      -0.082      -0.001
country[T.Middle-Income]                                    -0.0465      0.014     -3.368      0.001      -0.074      -0.019
bins_hours_per_week[T.Interval(20, 40, closed='right')]      0.0376      0.009      3.957      0.000       0.019       0.056
bins_hours_per_week[T.Interval(40, 60, closed='right')]      0.1120      0.011     10.553      0.000       0.091       0.133
bins_hours_per_week[T.Interval(60, 80, closed='right')]      0.0976      0.018      5.400      0.000       0.062       0.133
bins_hours_per_week[T.Interval(80, 100, closed='right')]     0.0931      0.032      2.890      0.004       0.030       0.156
bins_comp_years[T.Interval(2, 4, closed='right')]           -0.0186      0.034     -0.549      0.583      -0.085       0.048
bins_comp_years[T.Interval(4, 6, closed='right')]            0.0394      0.033      1.185      0.236      -0.026       0.105
bins_comp_years[T.Interval(6, 8, closed='right')]            0.0734      0.033      2.208      0.027       0.008       0.139
bins_comp_years[T.Interval(8, 10, closed='right')]          -0.0806      0.010     -8.432      0.000      -0.099      -0.062
bins_comp_years[T.Interval(10, 12, closed='right')]         -0.0686      0.011     -5.986      0.000      -0.091      -0.046
bins_comp_years[T.Interval(12, 14, closed='right')]          0.0861      0.012      7.199      0.000       0.063       0.109
bins_comp_years[T.Interval(14, 16, closed='right')]          0.2498      0.015     16.827      0.000       0.221       0.279
bins_comp_years[T.Interval(16, 18, closed='right')]               0          0        nan        nan           0           0
bins_comp_years[T.Interval(18, 20, closed='right')]               0          0        nan        nan           0           0
gender_Male                                                  0.0292      0.006      4.720      0.000       0.017       0.041
==============================================================================
Omnibus:                      774.342   Durbin-Watson:                   1.995
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              876.708
Skew:                           0.536   Prob(JB):                    4.22e-191
Kurtosis:                       2.966   Cond. No.                     1.12e+16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 7.95e-28. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.